<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <title>Informes</title>
  </head>
  <body class="bg-gray-200">
    <%- include('components/header', { title: 'Informes' }) %>
    <!-- Botón de regreso -->
    <a href="/dashboard">
      <button
        class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg p-2 m-2"
      >
        Atrás
      </button>
    </a>
    <!-- Contenedor -->
    <div class="flex flex-col items-center justify-center py-5">
      <!-- Opciones de informes -->
      <div class="flex items-center justify-center gap-10 py-5">
        <a href="/informes">
          <button
            class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg p-2"
          >
            Tablas dinámicas
          </button>
        </a>
        <button
          class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg p-2"
        >
          Sensores
        </button>
        <button
          class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg p-2"
        >
          Vive Mas
        </button>
        <button
          class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg p-2"
        >
          Empresa Sura
        </button>
        <button
          class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg p-2"
        >
          Vida Grupo
        </button>
      </div>
      <!-- Listado de los clientes -->
      <div class="flex flex-col shadow-black px-10 items-center">
        <a href="/clientes/create">
          <button
            class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg p-2"
          >
            Agregar Clientes
          </button>
        </a>
        <div class="flex bg-gray-300 p-2 font-bold">
          <div class="w-1/3 text-center">Nombre</div>
          <div class="w-1/3 text-center">Identificación</div>
          <div class="w-1/3 text-center flex">Intermediario</div>
          <div class="w-1/3 text-center">Fecha de Creación</div>
          <div class="w-1/3 text-center">Fecha de Actualización</div>
        </div>
        <div class="flex flex-col bg-white divide-y divide-gray-200">
          <% if (clientes.length > 0) { %> <% clientes.map(cliente => { %>
          <div class="flex p-2">
            <div class="w-1/3 text-center"><%= cliente.id %></div>
            <div class="w-1/3 text-center"><%= cliente.id_user %></div>
            <div class="w-1/3 text-center"><%= cliente.id_intermediario %></div>
            <div class="w-1/3 text-center"><%= cliente.createdAt %></div>
            <div class="w-1/3 text-center"><%= cliente.updatedAt %></div>
          </div>
          <% }) %> <% } else { %>
          <p class="p-2 text-center">No hay clientes disponibles.</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
