<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../output.css" rel="stylesheet" />
    <title>Editar Usuarios</title>
</head>

<body>
    <%- include('../components/header', { title: 'Editar usuario' }) %>
        <!-- Bot칩n de regreso -->
        <a href="/usuarios">
            <button class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg p-2 m-2">
                Atr치s
            </button>
        </a>
        <!-- Contendor Pricipal -->
        <div class="flex items-center justify-center gap-10 py-5">
            <!-- Formulario de Registro de usuario -->
            <form action="" method="POST"
                class="w-10/12 shadow-black py-5 flex flex-col items-center">
                <div class="grid grid-cols-1 gap-4 w-full max-w-md">
                    <div class="flex flex-col">
                        <label for="nombre" class="mb-1">Nombre Completo:</label>
                        <input type="text" id="nombre" name="fullname" value="<%= user.fullname %>"
                            class="border border-sky-500 p-2 rounded-lg" />
                    </div>
                    <div class="flex flex-col">
                        <label for="correo" class="mb-1">Correo:</label>
                        <input type="email" id="correo" name="email" value="<%= user.email %>"
                            class="border border-sky-500 p-2 rounded-lg">
                    </div>
                    <div class="flex flex-col ">
                        <label for="documento" class="mb-1">Documento:</label>
                        <input type="text" id="documento" name="document" value="<%= user.document %>"
                            class="border border-sky-500 p-2 rounded-lg" />
                    </div>
                    <div class="flex flex-col">
                        <label for="celular" class="mb-1">Celular:</label>
                        <input type="tel" id="celular" name="phone" value="<%= user.phone %>"
                            class="border border-sky-500 p-2 rounded-lg" />
                    </div>
                    <div class="flex flex-col ">
                        <label for="cargo" class="mb-1">Cargo:</label>
                        <input type="text" id="cargo" name="rol" value="<%= user.rol %>"
                            class="border border-sky-500 p-2 rounded-lg">
                    </div>
                    <div class="flex flex-col ">
                        <label for="contrasena" class="mb-1">Contrase침a:</label>
                        <input type="password" id="password" name="password" value="<%= user.password %>"
                            class="border border-sky-500 p-2 rounded-lg">
                    </div>
                    <div class="flex flex-col ">
                        <label for="descripcion" class="mb-1">Descripci칩n:</label>
                        <input type="text" id="descripcion" name="description" value="<%= user.description %>"
                            class="border border-sky-500 p-2 rounded-lg">
                    </div>
                    <div class="flex flex-col mt-4 ">
                        <button type="submit" class=" bg-sky-500 text-white py-2 px-4 rounded">Enviar</button>
                    </div>
                </div>
        </div>
        </form>
        </div>
</body>

</html>