<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <title>Usuarios - Index</title>
  </head>
  <body>
    <%- include('../components/header', { title: 'Listado de usuarios' }) %>
    <div class="flex flex-col p-2 items-center justify-center gap-10 py-5">
      <!-- Botones de acción -->
      <div class="flex gap-3">
        <a href="/usuarios/create">
          <button class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg">
            Agregar Usuarios
          </button>
        </a>
        <a href="/usuarios/pdf">
          <button class="bg-sky-500 text-white font-bold py-2 px-4 rounded-lg">
            Exportar a PDF
          </button>
        </a>
      </div>
      <!-- Tabla de usuarios -->
      <table class="table-auto border-collapse border border-gray-300 w-10/12 text-sm">
        <thead>
          <tr class="bg-gray-200 text-center">
            <th class="border border-gray-300 px-2 py-1">Acciones</th>
            <th class="border border-gray-300 px-2 py-1">Nombre Completo</th>
            <th class="border border-gray-300 px-2 py-1">Correo</th>
            <th class="border border-gray-300 px-2 py-1">Documento</th>
            <th class="border border-gray-300 px-2 py-1">Celular</th>
            <th class="border border-gray-300 px-2 py-1">Cargo</th>
            <th class="border border-gray-300 px-2 py-1">Contraseña</th>
            <th class="border border-gray-300 px-2 py-1">Descripción</th>
            <th class="border border-gray-300 px-2 py-1">Fecha de Creación</th>
            <th class="border border-gray-300 px-2 py-1">Fecha de Actualización</th>
          </tr>
        </thead>
        <tbody>
          <% if (usuarios.length > 0) { %>
            <% usuarios.map(usuario => { %>
              <tr class="text-center hover:bg-gray-100">
                <td class="border border-gray-500 px-2 py-1 flex justify-center gap-2">
                  <a href="usuarios/edit/<%= usuario.id %>">
                    <button class="bg-yellow-500 text-black font-bold px-2 py-1 rounded-lg">
                      ✏️
                    </button>
                  </a>
                  <a href="usuarios/delete/<%= usuario.id %>">
                    <button class="bg-red-500 text-white font-bold px-2 py-1 rounded-lg">
                      🗑️
                    </button>
                  </a>
                </td>
                <td class="border border-gray-900 px-2 py-1"><%= usuario.fullname %></td>
                <td class="border border-gray-300 px-2 py-1"><%= usuario.email %></td>
                <td class="border border-gray-300 px-2 py-1"><%= usuario.document %></td>
                <td class="border border-gray-300 px-2 py-1"><%= usuario.phone %></td>
                <td class="border border-gray-300 px-2 py-1"><%= usuario.rol %></td>
                <td class="border border-gray-300 px-2 py-1"><%= usuario.password %></td>
                <td class="border border-gray-300 px-2 py-1"><%= usuario.description %></td>
                <td class="border border-gray-300 px-2 py-1"><%= usuario.createdAt %></td>
                <td class="border border-gray-300 px-2 py-1"><%= usuario.updatedAt %></td>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="10" class="border border-gray-300 px-2 py-1 text-center">No hay clientes disponibles.</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
